<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>977609312185-6ghi1i076jbou5d0cjlfefp8jndnsebf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977609312185-6ghi1i076jbou5d0cjlfefp8jndnsebf</string>
	<key>API_KEY</key>
	<string>AIzaSyD2mlUqVuTsE9-Gwg2G-echaTPOjqtAkyI</string>
	<key>GCM_SENDER_ID</key>
	<string>977609312185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>grocr-ecd13</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-ecd13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977609312185:ios:11bd119eb6688866</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-ecd13.firebaseio.com</string>
</dict>
</plist>